<html>
<head>
<title>css is presentation of web docment</title>
<style>
body{color: #ffadcd;font-size: 8pt;

	background-color: green;
}
<style>
.pa{color: #ffadcd;background-color: #ffadcd}




</style>
<body>
<p class="pa">asdfghjkoi8u7y6t5rer</p>